* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



img {
    width: 40%;
    height: 25%;
}

header {
    background-color: #0077be;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}




.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
}
nav {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #fff;
    color: #292929;
}

main {
    margin-top: 100px;
    padding: 50px 0;
}
section {
    margin-bottom: 50px;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}
li {
    margin-bottom: 10px;
}
